# One local source folder per line.
# Destination is computed as:
#   $SYNC_ICLOUD_ROOT/<path relative to $HOME>
#
# Example:
#   ~/projects/demo/
# maps to:
#   ~/icloud/projects/demo/

~/projects/demo/
